In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns
from scipy import stats

from sklearn.feature_selection import mutual_info_regression
from sklearn.model_selection import train_test_split
from category_encoders import MEstimateEncoder

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Dataset Extraction

In [3]:
df = pd.read_csv('Premier_League.csv')

In [4]:
df.head()

,date,clock,stadium,attendance,Home Team,Goals Home,Away Team,Away Goals,home_possessions,away_possessions,...,away_duels,home_saves,away_saves,home_fouls,away_fouls,home_yellow,away_yellow,home_red,away_red,links
0,28th May 2023,4:30pm,Emirates Stadium,"60,095",Arsenal,5,Wolverhampton Wanderers,0,51.0,49.0,...,52.2,0,3,8,11,0,0,0,0,https://www.skysports.com/football/arsenal-vs-...
1,28th May 2023,4:30pm,Villa Park,"42,212",Aston Villa,2,Brighton and Hove Albion,1,40.3,59.7,...,47.8,3,3,15,16,4,4,0,0,https://www.skysports.com/football/aston-villa...
2,28th May 2023,4:30pm,Gtech Community Stadium,"17,120",Brentford,1,Manchester City,0,34.4,65.6,...,50.0,2,3,12,8,4,0,0,0,https://www.skysports.com/football/brentford-v...
3,28th May 2023,4:30pm,Stamford Bridge,"40,130",Chelsea,1,Newcastle United,1,64.4,35.6,...,45.5,3,5,9,11,0,0,0,0,https://www.skysports.com/football/chelsea-vs-...
4,28th May 2023,4:30pm,Selhurst Park,"25,198",Crystal Palace,1,Nottingham Forest,1,66.0,34.0,...,41.7,3,2,9,13,0,2,0,0,https://www.skysports.com/football/crystal-pal...

In [5]:
df.shape

(380, 39)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              380 non-null    object
 1   clock             380 non-null    object
 2   stadium           380 non-null    object
 3   attendance        380 non-null    object
 4   Home Team         380 non-null    object
 5   Goals Home        380 non-null    int64
 6   Away Team         380 non-null    object
 7   Away Goals        380 non-null    int64
 8   home_possessions  380 non-null    float64
 9   away_possessions  380 non-null    float64
 10  home_shots        380 non-null    int64
 11  away_shots        380 non-null    int64
 12  home_on           380 non-null    int64
 13  away_on           380 non-null    int64
 14  home_off          380 non-null    int64
 15  away_off          380 non-null    int64
 16  home_blocked      380 non-null    int64
 17  away_blocked      380 non-null    int64
 18  home_pass         380 non-null    float64
 19  away_pass         380 non-null    float64
 20  home_chances      380 non-null    int64
 21  away_chances      380 non-null    int64
 22  home_corners      380 non-null    int64
 23  away_corners      380 non-null    int64
 24  home_offside      380 non-null    int64
 25  away_offside      380 non-null    int64
 26  home_tackles      380 non-null    float64
 27  away_tackles      380 non-null    float64
 28  home_duels        380 non-null    float64
 29  away_duels        380 non-null    float64
 30  home_saves        380 non-null    int64
 31  away_saves        380 non-null    int64
 32  home_fouls        380 non-null    int64
 33  away_fouls        380 non-null    int64
 34  home_yellow       380 non-null    int64
 35  away_yellow       380 non-null    int64
 36  home_red          380 non-null    int64
 37  away_red          380 non-null    int64
 38  links             380 non-null    object
dtypes: float64(8), int64(24), object(7)
memory usage: 115.9+ KB

# Data Cleaning